<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="assets/logo_gacelas.jpeg" class="small" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#quienessomos">Quienes somos</a>
      <a class="nav-item nav-link active" href="#servicios">Servicios</a>
      <a class="nav-item nav-link active " href="#noticias">Noticias</a>
      <a class="nav-item nav-link active" href="#contacto">Contacto</a>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="bg"></div>
  <div class="container text-light">
    <h1 class="display-4">BIENVENIDOS!</h1>
    <p class="lead">Club Gacelas Mágica</p>
  </div>
</div>
