.jumbotron {
  background: url("src/assets/portada2.jpeg") no-repeat center center;
  background-size: cover;
  position: relative;
  margin-bottom: 0%;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(87, 93, 77, 0.4);
  top: 0;
}

.jumbotron .container {
  position: relative;
}

.small {
  height: 50px;
}

.dark {
  background-color: #000;
  height: 100%;
  width: 100%;
}
